body {
  height: 100%;
  margin: 0;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 56px;
  color: red; 
  text-align: center;
}

h2 {
  font-size: 32px;
  color: green; 
}
  
p {
  color: red;
}

#name {
  text-align: center;
}
