body {
  height: 100%;
  margin: 0;
  text-align: left;
  width: 100%;
}

h1 {
  font-size: 56px;
  color: red; 
}

.myname {
  text-align: center;
}
  

h2 {
  font-size: 32px;
  color: green; 
}
  
h3 {
  font-size: 14px;
}

p {
  color: black;
}
