body {
margin-top: 20px;
margin-left: 200px;
margin-right: 200px;

padding: 10px 150px 10px 150px;

border-radius: 15px;
background-color: #C4CECD;
}

h1 {
  font-size: 52px;
  color: black; 
}

.myname {
  text-align: center;
}
  

h2 {
  font-size: 30px;
  color: black; 
}
  
h3 {
  font-size: 20px;
}

p {
  color: black;
}
